In [ ]:
import pandas as pd

dt = pd.read_csv('/content/DS_Companies_Cairo.csv')

In [ ]:
dt = dt.drop('Unnamed: 0',axis=1);
dt['data_time'] = pd.to_datetime(dt['data_time'], errors='coerce')

In [ ]:
dt.info()

In [ ]:
dt.head(7)

In [ ]:
dt['employment_type'].value_counts().head(1)

In [ ]:
dt['Company_Name'].value_counts().head(3)

In [ ]:
dt['seniority_level'].value_counts().head(2)

In [ ]:
dt['data_time'].min()

In [ ]:
dt['data_time'].max()

In [ ]:
# Filter the DataFrame for rows where 'seniority_level' is 'Entry level'
entry_level_dt = dt[dt['seniority_level'] == 'Entry level']

# Count the occurrences of each company in the 'Company_Name' column
entry_level_dt['Company_Name'].value_counts().head(3)

In [ ]:
# Filter the DataFrame for rows where 'seniority_level' is 'Mid-Senior level'
Mid_Senior_level_dt = dt[dt['seniority_level'] == 'Mid-Senior level']

# Count the occurrences of each company in the 'Company_Name' column
Mid_Senior_level_dt['Company_Name'].value_counts().head(3)